html {
    scroll-behavior: smooth;
}

body {
    background-image: url("../img/fon.webp");
    background-color: #f8f1e7;
    background-repeat: no-repeat;
    background-position: center center;
    margin: 0;
    width: 100%;
    height: 100%;
    font-family: "Playfair Display", serif;
}

.b-header {
    text-align: center;
   background-color: #67067a;
    margin-top: -22px;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
    opacity: 0.8;
    color: rgb(207, 250, 250);
}

.b-div-zadanie {
    font-size: medium;
    padding: 10px 10px 10px 10px;
}

/*Переключення між лабами*/
.menu-main {
    list-style: none;
    margin: 40px 0 5px;
    padding: 25px 0 5px;
    text-align: center;
}

.menu-main li {
    display: inline-block;
}

.menu-main li:after {
    content: none;
}

.menu-main a {
    text-decoration: none;
    font-family: "Playfair Display", serif;
    letter-spacing: 2px;
    position: relative;
    padding-bottom: 20px;
    margin: 0 34px 0 30px;
    font-size: 17px;
    text-transform: uppercase;
    display: inline-block;
    transition: color .2s;
}

.menu-main a, .menu-main a:visited {
    color: #2e2d2e;
}

.menu-main a:hover {
    color: #67067a;
}

.menu-main a:before, .menu-main a:after {
    content: "";
    position: absolute;
    height: 4px;
    top: auto;
    right: 50%;
    bottom: 5px;
    left: 50%;
    background: #67067a;
    transition: .8s;
}

.menu-main a:hover:before, 
.menu-main .current:before {
    left: 0;
}

.menu-main a:hover:after, 
.menu-main .current:after {
    right: 0;
}

@media (max-width: 550px) {
    .menu-main {
        padding-top: 0;
    }
    .menu-main li {
        display: block;
    }
    .menu-main li:after {
        content: none;
    }
    .menu-main a {
        padding: 25px 0 20px;
        margin: 0 30px;
    }
}
